<!DOCTYPE html>
<html>

<head>
    <title>Retailer Dashboard</title>
</head>

<body>

    <h1>Retailer Dashboard</h1>

    <h2>
        Welcome, {{ retailer.shop_name }}
    </h2>

    <p>
        Owner: {{ retailer.owner_name }}
    </p>

    <p>
        Phone: {{ retailer.phone }}
    </p>

    <p>
        City: {{ retailer.city }}
    </p>

    <p>
        GST: {{ retailer.gst_number }}
    </p>

    <hr>

    <h3>Retailer Features</h3>

    <ul>


    <a href="{% url 'wholesaler_list' %}">
        My Wholesalers
    </a>

    <br><br>

    <a href="{% url 'my_orders' %}">
        My Orders
    </a>

    <br><br>

    </ul>

    <a href="{% url 'logout' %}">
        Logout
    </a>

</body>

</html>