<!DOCTYPE html>
<html>

<head>
    <title>Wholesaler Dashboard</title>
</head>

<body>

    <h1>Wholesaler Dashboard</h1>

    <h2>
        Welcome, {{ wholesaler.business_name }}
    </h2>

    <p>
        Phone: {{ wholesaler.phone }}
    </p>

    <p>
        City: {{ wholesaler.city }}
    </p>

    <p>
        GST: {{ wholesaler.gst_number }}
    </p>

    <hr>

    <h3>Wholesaler Features</h3>

    <a href="{% url 'product_list' %}">
        Products
    </a>

    <br><br>

    <a href="{% url 'stock_list' %}">
        Stock
    </a>

    <br><br>

    <a href="{% url 'wholesaler_orders' %}">
        Incoming Orders
    </a>

    <br><br>

    <a href="{% url 'logout' %}">
        Logout
    </a>

</body>

</html>